.login {
  height: 100vh;
  width: 100%;
  background-color: rgb(193, 190, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 50%;
  display: flex;
  background-color: white;
  border-radius: 10px;
  min-height: 600px;
  overflow: hidden;
}

.left {
  flex: 1;
  background: linear-gradient(
      rgba(39, 11, 96, 0.5),
      rgba(39, 11, 96, 0.5)
    ),
    url("https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA5L3Jhd3BpeGVsb2ZmaWNlN19waG90b19vZl9hbl9hbWVyaWNhbl9iYWxkX2VhZ2xlX2NvbWluZ19pbl9mb3JfYV8xNWQ3MGIzYi1hNGIzLTQxMjEtYWY5Ni1mMjFiYWEzYWViYjQucG5n.png")
      center;
  background-size: cover;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
}

.left h1 {
  font-size: 100px;
  line-height: 100px;
}

.left span {
  font-size: 14px;
}

.left button {
  width: 50%;
  padding: 10px;
  border: none;
  background-color: white;
  color: rebeccapurple;
  font-weight: bold;
  cursor: pointer;
}

.right {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
}

.right h1 {
  color: #555;
}

.right form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.right form input {
  border: none;
  border-bottom: 1px solid lightgray;
  padding: 20px 10px;
}

.right form button {
  width: 50%;
  padding: 10px;
  border: none;
  background-color: #938eef;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* Media Queries */

/* Tablet View */
@media (max-width: 992px) {
  .card {
    flex-direction: column;
    width: 80%;
  }

  .left,
  .right {
    padding: 30px;
  }

  .left h1 {
    font-size: 60px;
    line-height: 60px;
  }

  .left button,
  .right form button {
    width: 100%;
  }
}

/* Mobile View */
@media (max-width: 576px) {
  .card {
    width: 90%;
  }

  .left {
    padding: 20px;
  }

  .left h1 {
    font-size: 40px;
    line-height: 40px;
  }

  .right {
    padding: 20px;
  }

  .right form input {
    padding: 15px 10px;
  }
}
