.sidebar {
  background-color: white;
  height: 90vh;
  flex: 1;
  padding: 20px;
  padding-bottom: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.option {
  display: flex;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 10px;
  width: 70%;
  border-radius: 5px;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
  align-items: center;
}

.option:hover {
  background-color: #e0e0e0;
}
