.appbar{
    height: 120px;
    background-color:green ;
    text-align: center;
    display: flex;
    justify-content: space-between;
    .rmklogo{
        display: flex;
        img{
            padding: 20px;
            height: 60px;
            width: 60px;
        }
        .clg-title{
            font-size: x-large;
            color: white;
            width: 100px;
        }
    }
    .right-logo
    {
        display: flex;
        flex-direction: column;
        img{
            height: 50px;
            width: 50px;
            padding: 5px;
        }
    }
}




